<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> - Bnog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul class="topnav">
      <li>
        <a href="/">主页</a>
      </li>
    </ul>
    
  </body>
</html>