body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0793ca;
}

ul.topnav {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 80%;
  background-color: #545557;
  overflow: hidden;
}

ul.topnav>li {
  float: left;
}

ul.topnav>li a {
  display: block;
  background-color: #545557;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.2s linear;
}
 
ul.topnav>li a:hover {
  background-color: #0793ca;
  transition: all 0.2s linear;
}

div.content {
  margin: auto;
  margin-top: 20px;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  font-size: 24;
  width: 60%;
  background-color: #9c9c9c;
  
}